body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
/* section{
    height: 500px;
    border: 1px solid red;
} */
#name_heighlight{
    color:#FFA500;
}
.f_l{
    /* height: 200px; */
    float: left;
    width: 40%;
    margin-left: 100px;
    margin-bottom: 20px;
}
.f_l img{
    width: 90%;
    float: right;
    margin-right: 20px;
}
.f_l p{
    font-size: 18px;
    color: rgb(93, 5, 175);
    font-weight: 400;
}
.first_section{
    background-image: url("images/top-banner.png");
    float: left;
    background-repeat: no-repeat;
}
.contact{
    text-decoration: none;
    border: 1px solid navy ;
    padding: 7px 15px;
    border-radius: 7px;
    /* height: 4px;
    width: 100px; */
    background-color: navy;
    color:whitesmoke; 
    font-weight:550;
}
.contact:hover{
    color: navy;
    background-color:whitesmoke;
    transition-delay: .15s;
}
.f_l2{
    width: 45%;
    float: left;
    margin-top: 70px;
    padding-top: 70px;
    /* background-image: none; */
    
}
.f_l2 img{
    width: 95%;
    float: right;

}
.fll{
    padding-left: 100px;
    /* background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right; */
}
.contact2{
    text-decoration: none;
    border: 1px solid navy;
    padding :7px 25px;
    background-color:navy;
    border-radius: 9px;
    color: whitesmoke;
    font-weight:550;
}
.contact2:hover{
    background-color: whitesmoke;
    color: navy;
    transition-delay: .15s;
}
.second_section_data{
    background-image: url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
}