body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
section{
    height: 500px;
}
.orange-heighlight{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
   
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
     background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    border :2px solid navy;
    padding:5px 10px;
    background-color:navy;
    color: whitesmoke;
    border-radius: 9px;
}
.link-button:hover{
    background-color: whitesmoke;
    color: navy;
    transition-delay: .15s;
}
.dream-area{
    margin-top: 10%;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exp-area{
    margin-top: 10%;

    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    

}
.single-exp{
    height: 60%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
}
#first-exp{
    border-left: 7px solid blue;
    border-image: linear-gradient(180deg, tomato,salmon);
    border-image-slice: 1;
    

}
#pro-exp{
    border-left: 7px solid blue;
    background-color: #fff;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;

}
footer{
    text-align: center;
}